project/db-data
.vscode
.DS_Store
frontApp.exe
authApp
brokerApp
listenerApp
loggerServiceApp
mailerApp
project/chronograf-storage/chronograf-v1.db
project/grafana-storage/grafana.db
project/grafana-storage/alerting/1/__default__.tmpl
msteamsApp
msteamsServiceApp
influxApp
influxServiceApp